h1 {
    color: red;
} 
body { /*cuerpo o estructura color o forma para el html*/
    background-color: bisque; /*fondo*/ 
    text-align: center; /* alinear texto*/ 
    width: 30%; /* ancho */
    margin: 0 auto; /*margen*/ 
    align-items: center;
    vertical-align: middle;
} 
